<div class="container">
    <div class="row">
        <div class="container" style="text-align: center;">
            <h1><u>TEAM STATISTICS</u></h1>
        </div>
        <br/>
        <br/>
    </div>
        <div style="text-align: center;">
            <form>
                <input style="text-align: center;" type="text" name="teamSearch" placeholder="Enter team name" />
            </form>
            <br/>
            <br/>
        </div>
        <div class="container" style="text-align: center;">
            <h2><u>TEAM NAME</u></h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <span><h4><u style="font-weight: bolder;">YEAR 2015-2016</u></h4></span>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NUMBER OF MATCHES PLAYED - </td>
                        </tr>
                        <tr>
                            <td>NUMBER OF GOALS SCORED - </td>
                        </tr>
                        <tr>
                            <td>NUMBER OF WINS - </td>
                        </tr>
                        <tr>
                            <td>NUMBER OF LOSSES - </td>
                        </tr>
                        <tr>
                            <td>WIN PERCENTAGE - </td>
                        </tr>
                        <tr>
                            <td>LOSS PERCENTAGE - </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <span><h4><u style="font-weight: bolder;">YEAR 2016-2017</u></h4></span>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NUMBER OF MATCHES PLAYED - </td>
                        </tr>
                        <tr>
                            <td>NUMBER OF GOALS SCORED - </td>
                        </tr>
                        <tr>
                            <td>NUMBER OF WINS - </td>
                        </tr>
                        <tr>
                            <td>NUMBER OF LOSSES - </td>
                        </tr>
                        <tr>
                            <td>WIN PERCENTAGE - </td>
                        </tr>
                        <tr>
                            <td>LOSS PERCENTAGE - </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

