    <p><h4><u>2016-2017 :</u></h4></p>
        <div class="col-sm-12 col-md-12" ng-repeat="round in dataTwo.secondData.rounds">
            <table>
                <thead>
                    <tr>
                        <span><h5><u>{{round.name}}</u></h5></span>
                        <th>DATE</th>
                        <th>TEAM 1 (COUNTRY)</th>
                        <th>SCORES</th>
                        <th>TEAM 2 (COUNTRY)</th>
                        <th>SCORES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="match in round.matches">
                        <td>{{match.date}}</td>
                        <td>{{match.team1.name}}</td>
                        <td>{{match.score1}}</td>
                        <td>{{match.team2.name}}</td>
                        <td>{{match.score2}}</td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div> 